

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    font-family:  "Helvetica Neue",Helvetica,Arial;
    font-size:14px;
    
  }
  
  .container{
    text-align:center;
  }
  .container-2{
  
    padding: 60px;
    font-size: 18px;
    font-weight:bold;
  }
  .text{
    padding-top: 30px;
  }
  
  .container-text{
    padding-top:40px;
    text-align: center;
  }
  .col-sm-4{
    padding-top:15px;
  }
  .card img{
  height:50px;
  padding: 10px;
  text-align: left;
  }
  