footer {
    padding: 30px;
    margin: 5opx 0 60px;
    color: rgb(94, 92, 92);
  }
  
  footer div:first-of-type {
    text-align: center;
  }
  
  .sm-block {
    display: flex;
    column-gap: 25px;
    justify-content: center;
    margin: 12px 0 25px;
  }
  
  .sm-icon {
    font-size: 22px;
  }
  
  .copyright {
    display: flex;
    justify-content: space-between;
  }