*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    font-family:  "Helvetica Neue",Helvetica,Arial;
    font-size:14px;
    
  }
  .text{
      padding: 20px;
      font-weight: bold;

  }
  .nav-bar {
    height: 70px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;

  }
  
  .bar li {
    display: inline-block;
    margin-left: 25px;
  }
.top{
    
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-self: flex-end;
}