*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    font-family:  "Helvetica Neue",Helvetica,Arial;
    font-size:14px;
    
  }
  @media (min-width: 780px) {
    .custome_size {
        width: 85% !important;
    }
}
