*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family:  "Helvetica Neue",Helvetica,Arial;
  font-size:14px;
}

.navbar-item {
  margin-left: 10px;
  display: flex;
}
.container{
  text-align:center;

}
.container-fluid{
  margin-left: 40px;
  font-size: 18px;
  font-weight:bold;
}
.text{
  padding-top: 30px;
}
.container-text{
  padding-top:40px;
  text-align: center;
}
.col-sm-4{
  padding-top:15px;
}
.img-size{
height:50px;

}
.div h5{
  color: red;
}
footer p{
  text-align: center;
  padding-top: 80px;
}


footer img{
  height: 30px;
}