
  .navbar-brand {
    font-weight: bolder;

}

.c_navbar {
    padding-top: 2rem;
}

.nav-link {
    color: #000 !important;
}

.bag {
    color: #ad4c4c;
}

/* .c_btn[href] {
    border: 2px solid #ad4c4c;
    padding: .1 .9rem !important;
    border-radius: 3px;
} */

@media (min-width: 350px) {
    .nav-link {
        padding: 0 !important;
    }

    .nav {
        padding: 0;
    }

}